doctype html
html
  head
    title #{pageTitle}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.css')
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js")
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="/javascript/newcard.js")
  body
    block content
