//
   Created by antoremin on 5/5/16.
extends layout

block content
    h1= title
    form#formNewCard(name="newcard",method="post",action="/api/cards",enctype="multipart/form-data")
        p Card ID
        input(type="text", placeholder="card ID", name="cardid")
        p Title
        input#inputTitle(type="text", placeholder="title", name="title")
        p Text
        input#inputText(type="text", placeholder="text", name="text")
        p Upload image
        input(type="file", name="image")
        button#btnSubmit(type="submit") submit
